*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 1rem;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container{
    max-width: 1140px;
    margin:auto;
    padding: 0 15px;
}

.d-flex{
    display: flex;
}

.hero-description , .section-description{
    font-size: 1.4rem;
    color:rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.section-description{
    max-width: 780px;
    margin: auto;
}
.btn-global{
    color:#ffffff;
    background-color:rgba(233, 90, 8, 1);
    padding: 14px;
    font-size: 1rem;
    width: 100%;
    border: none;
    margin-top: 30px;
}
.section-title{
    font-size: 3.2rem;
    font-weight: 700;
  font-family: "Noto Serif", serif;
}
.text-white{
    color:#ffffff;
}

.text-color{
    color:rgba(107, 114, 128, 1);
    font-size: 1rem;
}
/* -------------------------------shared style ------------------------------ */

header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav-bar ul{
    gap:20px;
    list-style: none;
}
header .nav-bar ul a{
    color:rgba(137, 135, 161, 1);
    font-size: 1.5rem;
    
    text-decoration: none;
}
header .nav-bar ul li:nth-child(1) a{
    color:rgba(37, 36, 50, 1);
    font-weight: 700;
}

header .nav-bar ul li:last-child a{
    color:#000;
}

/* hero section style start  */

.hero-section{
    justify-content: center;
    align-items: center;
    padding: 120px 15px;
}
.hero-section .hero-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 13px;
}
.hero-section .hero-title .colorful-text{
    color:#E95A08;
    font-size: 4rem;
}



/* Our Planned section style  */
.plan-section{
    text-align: center;
    margin-bottom: 80px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:30px 20px;
    text-align: center;
}

.cards img{
    width: 100%;
}

.cards .name-flower , .cards   .price{
    font-size: 1.4rem; 
    font-weight: 600;
    margin-top: 30px;
}

.cards .price{
    font-weight: 700;
    margin-top: 20px;
    display: block;
}


/* -----------------------flowerplants ----------------- */


.flowerplants{
    gap:85px;
    margin-top: 180px;
}
.contant-box {
    margin: 38px auto;
}


.flowerplants .image-box{
    position: relative;
}
.flowerplants .image-box .trust-badge{
    position: absolute;
    width: 60%;
    top:-150px;
    right: -100px;
}
/* -----------------------branch -------------------- */

.branch{
    /* background-image: url(../images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: url(../images/news-letter-bg.png) no-repeat center / cover;
    padding: 200px 100px;
    text-align: center;
    margin: 80px auto 0;

}


.branch form {
    display: flex;
    max-width: 830px;
    margin: auto;
    margin-top: 23px;
}

.branch form input{
    display: inline-block;
    padding: 15px;
    border: 0;
}
.branch input[type="email"] {
    width: 75%;
}

.branch form input:focus{
    border: 0;
    outline: none;
}

.branch form input[type="submit"]{
    color:#ffffff;
    background-color:rgba(233, 90, 8, 1);
    padding: 14px 50px;
    width: 25%;
    font-size: 1rem;
    border: none;
}


.footer-boxes{
    display: grid;
    grid-template-columns: 355px auto auto auto;
    padding: 50px 15px;
    justify-content: space-between;
}

.footer-boxes ul li{
    list-style: none;
}
.footer-boxes .footer-link{
    color:rgba(107, 114, 128, 1);
    text-decoration: none;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:24px;

}

/* mobile design start----------------------------------------------- */

@media screen and (max-width:576px){
    .section-title{
        font-size: 2.5rem;
    }
   .nav-bar ul li:not(:last-child) {
    display: none;
  }

    .hero-section{
        flex-direction: column-reverse;
        padding: 50px 15px;
    }
    img{
        width: 100%;
    }
    .hero-title{
        font-size: 2rem;
    }
    .cards{
        grid-template-columns: repeat(2 , 1fr);
        gap:20px 10px;
    }
    .flowerplants{
        flex-direction: column;
        gap: 0;
    }
    .flowerplants ul{
        padding-left: 25px;
    }
    .trust-badge{
        display: none;
    }

    .branch{
        padding: 100px 0 65px;
    }

    .branch form{
        max-width: 85%;
    }
    .branch form input[type="submit"]{
        width: 50%;
        padding: 15px;
    }
    
    .branch form input[type="email"]{
        width: 50%;
    }

    .footer-boxes{
        grid-template-columns: 1fr;
    }
    .footer-boxes img{
        width: auto;
        margin-bottom: 15px;
    }
    
}